<html>
    <body>
        <h3>TV Listings Search Results</h3>
        <table style="font-size: 10pt;color: #555555;border-spacing: 0px;">
            <tr style="font-size: 14pt; background: #B4D1B6; color: #ffffff; font-weight: bold;">
                <td colspan="5">This week</td>
            </tr>
            #set ($previousWeek = 0)
#foreach($program in $summaries)

            #if (${program.weekNumber} != $previousWeek)
                <tr style="font-size: 14pt; background: #B4D1B6; color: #ffffff; font-weight: bold;">
                    <td colspan="5">Week ${program.weekNumber}</td>
                </tr>
                #set ($previousWeek = ${program.weekNumber})
            #end
            #if (${program.hasExactMatchRecordings})
            <tr style="background: #8FFF6F;">
            #else
                #if (${program.hasNameAndChannelMatchedRecordings})
            <tr style="background: #C0FF97;">
                #else
                    #if (${program.hasNameMatchedRecordings})
            <tr style="background: #F2F4B3;">
                    #else
            <tr style="background: #FFCECE;">
                    #end
                #end
            #end
                <td>${program.title}</td>
                <td valign="top" nowrap="true">${program.episodeNumberText}</td>
                <td valign="top" nowrap="true">${program.channel.name}</td>
                <td valign="top" nowrap="true">${program.startTime.toString("EEE")}&nbsp;${program.startTime.toString("dd/MMM")}&nbsp;${program.startTime.toString("HH:mm")}</td>
                <td>
                #foreach ($tag in $program.tags)
                    <span style="background: #FFFFAA; padding-left: 10px; padding-right:10px;">${tag}</span>
                #end
                </td>

            </tr>
#end
            <tr style="font-size: 14pt; background: #2FAACE; color: #ffffff; font-weight: bold;">
                <td colspan="5">Movies > 8.0</td>
            </tr>
#foreach ($movie in $movies)
            <tr>
                <td valign="top" nowrap="true">${movie.startTime.toString("EEE")}</td>
                <td valign="top" nowrap="true">${movie.startTime.toString("dd/MMM")}</td>
                <td valign="top" nowrap="true">${movie.startTime.toString("HH:mm")}</td>
                <td valign="top">${movie.channel.name}</td>
                <td valign="top"><a href="http://www.imdb.com/title/${movie.imdbId}/">${movie.title}</a> (${movie.imdbRating})</td>
            </tr>
#end
            <tr>
            </tr>
            <tr>
                <td colspan="5">No results for the following:</td>
            </tr>
            <tr>
                <td colspan="5">
#foreach($searchQuery in $searchQueries)
    #if ($results.get($searchQuery).size() == 0)
                <span style="background: #eeaaaa; padding-left:10px; padding-right:10px;">${searchQuery.titleSearch}</span>&nbsp;
    #end
#end
                </td>
            </tr>
        </table>
    </body>
</html>